<!DOCTYPE html>
<html>
<head>
    <title>Sensor Dashboard</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>
<body>
    <h1>Dados coletados:</h1>
    <ul>
        {{#each sensor}}
            <li>Temperatura: {{this.dataValues.wea_temp}}, Umidade: {{this.dataValues.wea_humid}}</li>
        {{/each}}
    </ul>

    <h1>Gráficos relacionados aos dados coletados: </h1>
    <div class="ct-chart" id="temperatureChart"></div>
    <div class="ct-chart" id="humidityChart"></div>

    <script>
        const temperatureData = [];
        const humidityData = [];
        const labels = [];

        {{#each sensor}}
            temperatureData.push({{this.dataValues.wea_temp}});
            humidityData.push({{this.dataValues.wea_humid}});
            labels.push('{{this.dataValues.id}}');
        {{/each}}

        const temperatureDataConfig = {
            labels: labels,
            series: [temperatureData]
        };

        const humidityDataConfig = {
            labels: labels,
            series: [humidityData]
        };

        new Chartist.Line('#temperatureChart', temperatureDataConfig);
        new Chartist.Line('#humidityChart', humidityDataConfig);
    </script>
</body>
</html>
